.main-blog-card{
    width: 90%;
}
.category-aside{
    width: 100%;
}
.main-blog{
    width: 70%;
}
.aside-main{
    width: 30%;
}
.w-450 {
	width: 450px;
}
.vh-100 {
	min-height: 100vh;
}
#dropdownMenuLink{
    background-color: transparent !important; /* Remove background highlight */
    color: #6c757d;
    box-shadow: none; /* Remove any outline or shadow */
}

@media only screen and (max-width: 768px) {
    .aside-main{
        display: none;
    }
    .main-blog{
        width: 100%;
    }
    .main-blog-card{
        width: 100%;
    }
}